*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(26, 26, 26);
    height: 100vh;
    width: 100vw;
}
#main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
#player{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    aspect-ratio: 1/1;
}
#computer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    aspect-ratio: 1/1;
}
img{
    height: 70%;
    width: 70%;
}
.label{
    font-size: 20px;
    color: gray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#controls{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.btn{
    height: 50px;
    width: 20%;
    background-color: transparent;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(255, 181, 227);
    border: 2px solid rgb(255, 99, 195);
    border-radius: 15px;
    transition: all 500ms;
}
.btn:active{
    font-size: 16px;
    background-color: rgb(255, 99, 195);
    color: rgb(26, 26, 26);
}
#title, #title2, #title3{
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#title{
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
   from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
    
   to {
   text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
#title2{
    color: greenyellow;
}
/* @-webkit-keyframes glow2 {
    from {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e613, 0 0 40px #08e600, 0 0 50px #00e61f, 0 0 60px #00e626, 0 0 70px #08e600;
   }
     
    to {
    text-shadow: 0 0 20px #fff, 0 0 30px #4dff4d, 0 0 40px #4dff56, 0 0 50px #4dff6b, 0 0 60px #4dff5c, 0 0 70px #4dff65, 0 0 80px #53ff4d;
   }
 } */
 #title3{
    color: red;
}
 /* @-webkit-keyframes glow3 {
    from {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #e60000, 0 0 50px #e60000, 0 0 60px #e60000, 0 0 70px #e60000;
   }
     
    to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4d4d, 0 0 40px #ff4d4d, 0 0 50px #ff4d4d, 0 0 60px #ff4d4d, 0 0 70px #ff4d4d, 0 0 80px #ff4d4d;
   }
 } */

/*Media Queries*/
@media(max-width: 500px){
    #title, #title2, #title3{
        font-size: 20px;
    }
    .label{
        font-size: 12px;
    }
    .btn{
        height: 45px;
        font-size: 10px;
        width: 25%;
        border-radius: 10px;
    }
    .btn:active{
        font-size: 12px;
    }
}


